button, button[type=submit] {
  background-color: rgb(109, 109, 109);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover, button:active, button:focus, button:visited, 
button:hover[type=submit], button:active[type=submit], 
button:focus[type=submit], button:visited[type=submit] {
  background-color: rgb(146, 146, 146);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  color: #dd713e;
}