<template>
  <div id="app" class="small-container">
    <h1>Drivers</h1>

    <driver-form @add:driver="addDriver" />
    <driver-table :drivers="drivers" @delete:driver="deleteDriver" @edit:driver="editDriver" />
  </div>
</template>

<script>
import DriverTable from "@/components/DriverTable.vue";
import DriverForm from "@/components/DriverForm.vue";

export default {
  name: "driverView",
  components: {
    DriverTable,
    DriverForm
  },
  data() {
    return {
      drivers: []
    };
  },
  mounted() {
    this.getDrivers();
  },

  methods: {
    async getDrivers() {
      try {
        const response = await fetch(`${this.$hostname}/drivers`);
        const data = await response.json();
        console.log(data);

        this.drivers = data;
      } catch (error) {
        console.error(error);
      }
    },

    async addDriver(driver) {
      try {
        const response = await fetch(`${this.$hostname}/drivers/create`, {
          method: "POST",
          body: JSON.stringify(driver),
          headers: { "Content-type": "application/json; charset=UTF-8" }
        });
        const data = await response.json();
        console.log(data);
        this.drivers = [...this.drivers, data];
      } catch (error) {
        console.error(error);
      }
    },

    async deleteDriver(id) {
      try {
        await fetch(`${this.$hostname}/drivers/delete/${id}`);
        this.drivers.filter(driver => driver.id !== id);
        this.getDrivers();
      } catch (error) {
        console.error(error);
      }
    },

    async editDriver(updatedDriver) {
      try {
        const response = await fetch(`${this.$hostname}/drivers/edit`, {
          method: "POST",
          body: JSON.stringify(updatedDriver),
          headers: { "Content-type": "application/json; charset=UTF-8" }
        });
        const data = await response.json();
        console.log(data);
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style>
.small-container {
  max-width: 680px;
}
</style>
