<template>
  <div id="app" class="small-container">
    <h1>Trips</h1>

    <trip-form :trips="trips" @add:trip="createTrip" />
    <trip-table :trips="trips" @delete:trip="deleteTrip" @edit:trip="editTrip" />
  </div>
</template>

<script>
import TripTable from "@/components/TripTable.vue";
import TripForm from "@/components/TripForm.vue";

export default {
  name: "tripView",
  components: {
    TripTable,
    TripForm
  },
  data() {
    return {
      trips: []
    };
  },
  mounted() {
    this.getTrips();
  },

  methods: {
    async getTrips() {
      try {
        const response = await fetch(`${this.$hostname}/trips`);
        const data = await response.json();
        console.log(data);

        this.trips = data;
      } catch (error) {
        console.error(error);
      }
    },

    async createTrip(trip) {
      try {
        const response = await fetch(`${this.$hostname}/trips/create`, {
          method: "POST",
          body: JSON.stringify({
            trip: trip,
            vehicle: trip.vehicle,
            driver: trip.driver
          }),
          headers: { "Content-type": "application/json; charset=UTF-8" }
        });
        const data = await response.json();
        console.log(data);
        this.trips = [...this.trips, data];
      } catch (error) {
        console.error(error);
      }
    },

    async deleteTrip(id) {
      try {
        await fetch(`${this.$hostname}/trips/delete/${id}`);
        this.trips.filter(trip => trip.id !== id);
        this.getTrips();
      } catch (error) {
        console.error(error);
      }
    },

    async editTrip(updatedTrip) {
      try {
        const response = await fetch(`${this.$hostname}/trips/edit`, {
          method: "POST",
          body: JSON.stringify(updatedTrip),
          headers: { "Content-type": "application/json; charset=UTF-8" }
        });
        const data = await response.json();
        console.log(data);
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style>
.small-container {
  max-width: 680px;
}
</style>
