<template>
  <div id="app" class="small-container">
    <h1>Vehicles</h1>

    <vehicle-form @add:vehicle="addVehicle" />
    <vehicle-table
      :vehicles="vehicles"
      @delete:vehicle="deleteVehicle"
      @edit:vehicle="editVehicle"
    />
  </div>
</template>

<script>
import VehicleTable from "@/components/VehicleTable.vue";
import VehicleForm from "@/components/VehicleForm.vue";

export default {
  name: "vehicleView",
  components: {
    VehicleTable,
    VehicleForm
  },
  data() {
    return {
      vehicles: []
    };
  },
  mounted() {
    this.getVehicles();
  },

  methods: {
    async getVehicles() {
      try {
        const response = await fetch(`${this.$hostname}/vehicles`);
        const data = await response.json();
        console.log(data);

        this.vehicles = data;
      } catch (error) {
        console.error(error);
      }
    },

    async addVehicle(vehicle) {
      try {
        const response = await fetch(`${this.$hostname}/vehicles/create`, {
          method: "POST",
          body: JSON.stringify(vehicle),
          headers: { "Content-type": "application/json; charset=UTF-8" }
        });
        const data = await response.json();
        console.log(data);
        this.vehicles = [...this.vehicles, data];
      } catch (error) {
        console.error(error);
      }
    },

    async deleteVehicle(id) {
      try {
        await fetch(`${this.$hostname}/vehicles/delete/${id}`);
        this.vehicles.filter(vehicle => vehicle.id !== id);
        this.getVehicles();
      } catch (error) {
        console.error(error);
      }
    },

    async editVehicle(updatedVehicle) {
      try {
        const response = await fetch(`${this.$hostname}/vehicles/edit`, {
          method: "POST",
          body: JSON.stringify(updatedVehicle),
          headers: { "Content-type": "application/json; charset=UTF-8" }
        });
        const data = await response.json();
        console.log(data);
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style>
.small-container {
  max-width: 680px;
}
</style>
