<template>
  <div id="driver-form">
    <form @submit.prevent="submit">

      <div class="form-group" :class="{ 'form-group--error': $v.driver.firstName.$error }">
        <label class="form__label">First Name</label>
        <div class="error" v-if="!$v.driver.firstName.required">Field is required</div>
        <input class="form__input" v-model.trim="$v.driver.firstName.$model" />
      </div>

      <div class="form-group" :class="{ 'form-group--error': $v.driver.lastName.$error }">
        <label class="form__label">Last Name</label>
        <div class="error" v-if="!$v.driver.lastName.required">Field is required</div>
        <input class="form__input" v-model.trim="$v.driver.lastName.$model" />
      </div>

      <div class="form-group" :class="{ 'form-group--error': $v.driver.license.$error }">
        <label class="form__label">License</label>
        <div class="error" v-if="!$v.driver.license.required">Field is required</div>
        <input class="form__input" v-model.trim="$v.driver.license.$model" />
      </div>
      <div
        class="error"
        v-if="!$v.driver.license.maxLength"
      >License can't have more than {{$v.driver.license.$params.maxLength.max}} letter.</div>

      <button class="button" type="submit" :disabled="submitStatus === 'PENDING'">Add Driver</button>
      <p class="typo__p" v-if="submitStatus === 'OK'">Driver successfully added</p>
      <p class="typo__p" v-if="submitStatus === 'ERROR'">Please fill the form correctly.</p>
      <p class="typo__p" v-if="submitStatus === 'PENDING'">Sending...</p>
    </form>
  </div>
</template>

<script>
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  name: "driver-form",
  data() {
    return {
      submitStatus: null,
      driver: {
        firstName: "",
        lastName: "",
        license: ""
      }
    };
  },
  validations: {
    driver: {
      firstName: {
        required
      },
      lastName: {
        required
      },
      license: {
        required,
        maxLength: maxLength(1)
      }
    }
  },

  methods: {

    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.$emit("add:driver", this.driver);

        this.driver = {
          firstName: "",
          lastName: "",
          license: ""
        };

        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },
  }
};
</script>

<style scoped>
form {
  margin-bottom: 2rem;
}
</style>