<template>
  <div id="driver-table">
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>License</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="driver in drivers" :key="driver.id">
          <td v-if="editing === driver.id">
            <input type="text" v-model="driver.firstName" />
          </td>
          <td v-else>{{driver.firstName}}</td>

          <td v-if="editing === driver.id">
            <input type="text" v-model="driver.lastName" />
          </td>
          <td v-else>{{driver.lastName}}</td>

          <td v-if="editing === driver.id">
            <input type="text" v-model="driver.license" />
          </td>
          <td v-else>{{driver.license}}</td>

          <td v-if="editing === driver.id">
            <button @click="editDriver(driver)">Save</button>
            <button class="muted-button" @click="editing = null">Cancel</button>
          </td>
          <td v-else>
            <button @click="editMode(driver)">Edit</button>
            <button @click="$emit('delete:driver', driver.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "driver-table",
  props: {
    drivers: Array
  },
  data() {
    return {
      editing: null
    };
  },
  methods: {
    editMode(driver) {
      this.cachedDriver = Object.assign({}, driver);
      this.editing = driver.id;
    },
    cancelEdit(driver) {
      Object.assign(driver, this.cachedDriver);
      this.editing = null;
    },
    editDriver(driver) {
      if (driver.firstName === "" || driver.lastName === "") return;
      this.$emit("edit:driver", driver);
      this.editing = null;
    }
  }
};
</script>

<style scoped>
button {
  margin: 0 0.5rem 0 0;
}
</style>