<template>
  <div id="trip-table">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Driver</th>
          <th>Vehicle</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="trip in trips" :key="trip.id">
          <td>
            <span>{{ trip.date | moment("DD-MM-YYYY") }}</span>
          </td>

          <td>{{trip.driver_firstName}} {{trip.driver_lastName}}</td>

          <td>{{trip.vehicle_brand}} {{trip.vehicle_model}}</td>

          <td>
            <button @click="$emit('delete:trip', trip.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "trip-table",
  props: {
    trips: Array
  },
  data() {
    return {
      editing: null
    };
  },
  methods: {
    editMode(trip) {
      this.cachedTrip = Object.assign({}, trip);
      this.editing = trip.id;
    },
    cancelEdit(trip) {
      Object.assign(trip, this.cachedTrip);
      this.editing = null;
    },
    editTrip(trip) {
      if (trip.firstName === "" || trip.lastName === "") return;
      this.$emit("edit:trip", trip);
      this.editing = null;
    }
  }
};
</script>

<style scoped>
button {
  margin: 0 0.5rem 0 0;
}
</style>