<template>
  <div id="trip-form">
    <form @submit.prevent="handleSubmit">
      <label>Select Trip Date</label>
      <datetime v-model="trip.date" @close="fetchAvailableVehicles(trip.date)"></datetime>

      <div>
        <label>Select Vehicle</label>
        <multiselect
          v-model="trip.vehicle"
          deselect-label="Can't remove this value"
          track-by="id"
          label="brand"
          placeholder="Select one"
          :options="availableVehicles"
          :custom-label="brandAndModel"
          :searchable="false"
          :allow-empty="false"
          @input="fetchAvailableDrivers(trip.date, trip.vehicle)"
        >
          <span slot="noOptions">No vehicle available.</span>
          <template slot="singleLabel" slot-scope="{ option }">
            <strong>{{ option.brand }} {{ option.model }}</strong>
          </template>
        </multiselect>
      </div>

      <div>
        <label>Select Driver</label>
        <multiselect
          v-model="trip.driver"
          deselect-label="Can't remove this value"
          track-by="id"
          label="firstName"
          placeholder="Select one"
          :options="availableDrivers"
          :custom-label="firstAndLastName"
          :searchable="false"
          :allow-empty="false"
        >
          <span slot="noOptions">No driver available.</span>
          <template slot="singleLabel" slot-scope="{ option }">
            <strong>{{ option.firstName }} {{ option.lastName }}</strong>
          </template>
        </multiselect>
      </div>

      <br />

      <button class="button" type="submit" :disabled="submitStatus === 'PENDING'">Add Trip</button>
      <p class="typo__p" v-if="submitStatus === 'OK'">Trip successfully added</p>
      <p class="typo__p" v-if="submitStatus === 'ERROR'">Please fill the form correctly.</p>
      <p class="typo__p" v-if="submitStatus === 'PENDING'">Sending...</p>
    </form>
  </div>
</template>

<script>
import { Datetime } from "vue-datetime";
import Multiselect from "vue-multiselect";

export default {
  name: "trip-form",
  components: {
    datetime: Datetime,
    Multiselect
  },
  data() {
    return {
      submitStatus: null,
      trip: {
        driver: null,
        vehicle: null,
        date: null
      },
      availableVehicles: [],
      availableDrivers: []
    };
  },

  methods: {
    isValidInput() {
      return (
        this.trip.driver !== null &&
        this.trip.vehicle !== null &&
        this.trip.date !== null
      );
    },

    brandAndModel(vehicle) {
      return `${vehicle.brand} ${vehicle.model}`;
    },

    firstAndLastName(driver) {
      return `${driver.firstName} ${driver.lastName}`;
    },

    handleSubmit() {
      if (!this.isValidInput()) {
        this.submitStatus = "ERROR";
      } else {
        this.$emit("add:trip", this.trip);

        this.trip = {
          driver: null,
          vehicle: null,
          date: null
        };

        this.availableVehicles = [];
        this.availableDrivers = [];

        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    },

    async fetchAvailableVehicles(date) {
      try {
        const response = await fetch(
          `${this.$hostname}/vehicles/availableVehicles`,
          {
            method: "POST",
            body: JSON.stringify(date),
            headers: { "Content-type": "application/json; charset=UTF-8" }
          }
        );
        const data = await response.json();
        console.log(data);
        this.availableVehicles = data;
      } catch (error) {
        console.error(error);
      }
    },

    async fetchAvailableDrivers(date, vehicle) {
      try {
        const response = await fetch(
          `${this.$hostname}/drivers/availableDrivers`,
          {
            method: "POST",
            body: JSON.stringify({ date: date, vehicle: vehicle }),
            headers: { "Content-type": "application/json; charset=UTF-8" }
          }
        );
        const data = await response.json();
        console.log(data);
        this.availableDrivers = data;
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
form {
  margin-bottom: 2rem;
}
</style>