<template>
  <div id="vehicle-table">
    <table>
      <thead>
        <tr>
          <th>Brand</th>
          <th>Model</th>
          <th>Plate</th>
          <th>License Required</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="vehicle in vehicles" :key="vehicle.id">
          <td v-if="editing === vehicle.id">
            <input type="text" v-model="vehicle.brand" />
          </td>
          <td v-else>{{vehicle.brand}}</td>

          <td v-if="editing === vehicle.id">
            <input type="text" v-model="vehicle.model" />
          </td>
          <td v-else>{{vehicle.model}}</td>

          <td v-if="editing === vehicle.id">
            <input type="text" v-model="vehicle.plate" />
          </td>
          <td v-else>{{vehicle.plate}}</td>

          <td v-if="editing === vehicle.id">
            <input type="text" v-model="vehicle.licenseRequired" />
          </td>
          <td v-else>{{vehicle.licenseRequired}}</td>

          <td v-if="editing === vehicle.id">
            <button @click="editVehicle(vehicle)">Save</button>
            <button class="muted-button" @click="editing = null">Cancel</button>
          </td>

          <td v-else>
            <button @click="editMode(vehicle)">Edit</button>
            <button @click="$emit('delete:vehicle', vehicle.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "vehicle-table",
  props: {
    vehicles: Array
  },
  data() {
    return {
      editing: null
    };
  },
  methods: {
    editMode(vehicle) {
      this.cachedVehicle = Object.assign({}, vehicle);
      this.editing = vehicle.id;
    },
    cancelEdit(vehicle) {
      Object.assign(vehicle, this.cachedVehicle);
      this.editing = null;
    },
    editVehicle(vehicle) {
      if (vehicle.firstName === "" || vehicle.lastName === "") return;
      this.$emit("edit:vehicle", vehicle);
      this.editing = null;
    }
  }
};
</script>

<style scoped>
button {
  margin: 0 0.5rem 0 0;
}
</style>