<template>
  <div id="vehicle-form">
    <form @submit.prevent="submit">
      <div class="form-group" :class="{ 'form-group--error': $v.vehicle.brand.$error }">
        <label class="form__label">Brand</label>
        <div class="error" v-if="!$v.vehicle.brand.required">Field is required</div>
        <input class="form__input" v-model.trim="$v.vehicle.brand.$model" />
      </div>

      <div class="form-group" :class="{ 'form-group--error': $v.vehicle.model.$error }">
        <label class="form__label">Model</label>
        <div class="error" v-if="!$v.vehicle.model.required">Field is required</div>
        <input class="form__input" v-model.trim="$v.vehicle.model.$model" />
      </div>

      <div class="form-group" :class="{ 'form-group--error': $v.vehicle.plate.$error }">
        <label class="form__label">Plate</label>
        <div class="error" v-if="!$v.vehicle.plate.required">Field is required</div>
        <input class="form__input" v-model.trim="$v.vehicle.plate.$model" />
      </div>

      <div class="form-group" :class="{ 'form-group--error': $v.vehicle.licenseRequired.$error }">
        <label class="form__label">Required License</label>
        <div class="error" v-if="!$v.vehicle.licenseRequired.required">Field is required</div>
        <input class="form__input" v-model.trim="$v.vehicle.licenseRequired.$model" />
      </div>
      <div
        class="error"
        v-if="!$v.vehicle.licenseRequired.maxLength"
      >License can't have more than {{$v.vehicle.licenseRequired.$params.maxLength.max}} letter.</div>

      <button class="button" type="submit" :disabled="submitStatus === 'PENDING'">Add Vehicle</button>
      <p class="typo__p" v-if="submitStatus === 'OK'">Vehicle successfully added</p>
      <p class="typo__p" v-if="submitStatus === 'ERROR'">Please fill the form correctly.</p>
      <p class="typo__p" v-if="submitStatus === 'PENDING'">Sending...</p>
    </form>
  </div>
</template>

<script>
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  name: "vehicle-form",
  data() {
    return {
      submitStatus: null,
      vehicle: {
        brand: "",
        model: "",
        plate: "",
        licenseRequired: ""
      }
    };
  },
  validations: {
    vehicle: {
      brand: {
        required
      },
      model: {
        required
      },
      plate: {
        required
      },
      licenseRequired: {
        required,
        maxLength: maxLength(1)
      }
    }
  },
  methods: {
    submit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.$emit("add:vehicle", this.vehicle);

        this.vehicle = {
          brand: "",
          model: "",
          plate: "",
          licenseRequired: ""
        };

        this.submitStatus = "PENDING";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
      }
    }
  }
};
</script>

<style scoped>
form {
  margin-bottom: 2rem;
}
</style>