<template>
  <div id="app" class="small-container">
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#">UTER</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item>
            <router-link to="/trip">Trips</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/vehicle">Vehicles</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/driver">Drivers</router-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <br />
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>

<style scoped>
a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}
a:hover,
a:active {
  color: rgb(230, 230, 230);
  text-decoration: none;
}
</style>